In [1]:
import requests
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

### Obtención de los jugadores seleccionables para el draft 2019

In [2]:
# Hay una noticia del 29/05/2019 donde se enumeran los jugadores universitarios que serán elegibles para el draft 2019. Hacemos scraping sobre esta lista para obtener los nombres de los jugadores

website_url = requests.get('https://collegebasketball.nbcsports.com/2019/05/29/2019-nba-draft-early-entry-list-who-declared-who-is-returning-who-are-we-waiting-on/')
soup = BeautifulSoup(website_url.content,'lxml')
soup.prettify()
name_list = soup.find('div',{'class':"entry-content"})
name_list
listdata = name_list.findAll('li')
data =[]
count = 0
for cell in listdata:
    count = count+1
    if (count >5):
        data.append(cell.get_text())

In [3]:
# Como el scraping me coge primero los que han rechazado ir al draft a pesar de confirmar inicialmente y los que irán o están en duda, buscamos el índice del primer jugador que va

first_confirmed_indx_player = data.index('NICKEIL ALEXANDER-WALKER, Virginia Tech')
display(first_confirmed_indx_player)
data = data[int(first_confirmed_indx_player):]

79

In [4]:
data2 = np.array(data)
players = [items for item in data2 for items in item.split(',')]
del players[1::2]

### Obtención de las estadisticas de los jugadores seleccionables

In [22]:
# La web de sports-reference tiene una pagina propia de cada jugador, esta tiene que llevar el nombre seguido de un "-1" o "-2" si hay otro con el mismo nombre. Convertimos los nombres a minuscula, quitamos caracteres especiales y cambiamos el espacio por una "-" para conseguir entrar en la página de cada jugador de la lista previa
# Con beautiful soup extraemo la información de la tabla y la guardamos en una variable
# Solo hacemos scraping de los jugadores que tienen estadísticas en la temporada 2018-2019

maindata = []
for name in players:
    realname = name
    name = name.replace("IGGY BRAZDEIKIS", "IGNAS-BRAZDEIKIS")
    name = name.replace("DEWAN HERNANDEZ", "DEWAN HUELL")
    name = name.replace("NIC CLAXTON", "NICOLAS-CLAXTON")
    name = name.replace("JA MORANT", "TEMETRIUS-MORANT")
    name = name.replace("KZ OKPALA", "KEZIE-OKPALA")
    name = name.replace("SIMI SHITTU", "SIMISOLA-SHITTU")
    name = name.replace("JA MORANT", "TEMETRIUSMORANT")
    name = name.lower()
    name = name.replace(" ", "-")
    name = name.replace(".", "")
    name = name.replace("\'", "")
    name = name.replace("’", "")
    name = name.replace("JR", "")
    website_url = requests.get('https://www.sports-reference.com/cbb/players/'+ name +'-1.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    soup.prettify()
    My_table = soup.find('table',{'id':'players_per_game'})
    if My_table is not None:
        data2=[]
        tabledata2 = My_table.findAll('th')
        for cell in tabledata2:
            data2.append(cell.get_text())
        if '2018-19' in data2:
            maindata = maindata + [realname]
            data = []
            tabledata = My_table.findAll('td')
            for cell in tabledata:
                data.append(cell.get_text())
            maindata = maindata +data[-28:]
        else:
            print(name)

jared-harper
dewan-huell
sacha-killeya-jones
jacob-ledoux
trevor-manuel
jontay-porter
brandon-randolph
justin-simon

In [23]:
maindata

['NICKEIL ALEXANDER-WALKER',
 'Virginia Tech',
 '',
 '67',
 '67',
 '29.9',
 '4.7',
 '10.1',
 '.464',
 '3.0',
 '5.6',
 '.529',
 '1.7',
 '4.5',
 '.383',
 '2.4',
 '3.1',
 '.763',
 '0.6',
 '3.4',
 '4.0',
 '2.7',
 '1.4',
 '0.5',
 '2.2',
 '1.9',
 '13.5',
 '',
 '7.25',
 'R.J. BARRETT',
 'Duke',
 '',
 '38',
 '38',
 '35.3',
 '8.4',
 '18.5',
 '.454',
 '6.5',
 '12.2',
 '.529',
 '1.9',
 '6.2',
 '.308',
 '3.9',
 '5.9',
 '.665',
 '1.6',
 '6.0',
 '7.6',
 '4.3',
 '0.9',
 '0.4',
 '3.2',
 '1.8',
 '22.6',
 '',
 '11.97',
 'TYUS BATTLE',
 'Syracuse',
 '',
 '103',
 '94',
 '35.4',
 '5.3',
 '12.8',
 '.417',
 '3.6',
 '7.6',
 '.474',
 '1.7',
 '5.2',
 '.335',
 '3.6',
 '4.5',
 '.803',
 '0.5',
 '2.3',
 '2.8',
 '2.1',
 '1.3',
 '0.2',
 '1.8',
 '2.0',
 '16.0',
 '',
 '9.52',
 'BOL BOL',
 'Oregon',
 '',
 '9',
 '9',
 '29.8',
 '8.2',
 '14.7',
 '.561',
 '6.8',
 '11.9',
 '.570',
 '1.4',
 '2.8',
 '.520',
 '3.1',
 '4.1',
 '.757',
 '2.1',
 '7.4',
 '9.6',
 '1.0',
 '0.8',
 '2.7',
 '2.0',
 '1.7',
 '21.0',
 '',
 '6.13',
 'MARQUES BOLDEN',
 'Duke',
 '',
 '88',
 '24',
 '13.6',
 '1.5',
 '2.6',
 '.573',
 '1.5',
 '2.5',
 '.591',
 '0.0',
 '0.1',
 '.000',
 '0.8',
 '1.2',
 '.685',
 '1.4',
 '1.9',
 '3.3',
 '0.4',
 '0.3',
 '1.1',
 '0.6',
 '1.6',
 '3.8',
 '',
 '10.86',
 'JORDAN BONE',
 'Tennessee',
 '',
 '95',
 '87',
 '26.1',
 '3.6',
 '8.4',
 '.424',
 '2.6',
 '5.7',
 '.458',
 '1.0',
 '2.7',
 '.353',
 '1.6',
 '2.0',
 '.817',
 '0.3',
 '2.1',
 '2.4',
 '4.3',
 '0.7',
 '0.1',
 '1.6',
 '1.2',
 '9.7',
 '',
 '10.15',
 'KY BOWMAN',
 'Boston College',
 '',
 '98',
 '94',
 '35.5',
 '5.9',
 '13.6',
 '.433',
 '3.6',
 '7.8',
 '.466',
 '2.3',
 '5.8',
 '.388',
 '2.9',
 '3.9',
 '.762',
 '0.8',
 '5.6',
 '6.4',
 '3.9',
 '1.3',
 '0.3',
 '3.0',
 '2.6',
 '16.9',
 '',
 '7.68',
 'IGGY BRAZDEIKIS',
 'Michigan',
 '',
 '37',
 '37',
 '29.6',
 '5.1',
 '11.0',
 '.462',
 '3.6',
 '7.1',
 '.500',
 '1.5',
 '3.9',
 '.392',
 '3.1',
 '4.1',
 '.773',
 '1.2',
 '4.3',
 '5.4',
 '0.8',
 '0.7',
 '0.5',
 '1.2',
 '2.1',
 '14.8',
 '',
 '10.55',
 'OSHAE BRISSETT',
 'Syracuse',
 '',
 '71',
 '71',
 '35.7',
 '4.4',
 '11.7',
 '.371',
 '3.2',
 '7.8',
 '.404',
 '1.2',
 '3.9',
 '.307',
 '3.8',
 '5.2',
 '.736',
 '2.2',
 '6.0',
 '8.2',
 '1.3',
 '1.1',
 '0.8',
 '1.9',
 '2.2',
 '13.7',
 '',
 '10.05',
 'ARMONI BROOKS',
 'Houston',
 '',
 '100',
 '40',
 '21.8',
 '3.3',
 '7.9',
 '.415',
 '1.0',
 '2.1',
 '.464',
 '2.3',
 '5.8',
 '.397',
 '0.6',
 '0.8',
 '.711',
 '0.8',
 '3.5',
 '4.3',
 '0.6',
 '0.7',
 '0.3',
 '0.6',
 '1.3',
 '9.4',
 '',
 '4.06',
 'MOSES BROWN',
 'UCLA',
 '',
 '32',
 '31',
 '23.4',
 '4.2',
 '6.8',
 '.607',
 '4.2',
 '6.8',
 '.607',
 '0.0',
 '0.0',
 '',
 '1.4',
 '4.0',
 '.352',
 '3.4',
 '4.9',
 '8.3',
 '0.3',
 '0.6',
 '1.9',
 '1.5',
 '2.3',
 '9.7',
 '',
 '6.78',
 'BRANDON CLARKE',
 'Gonzaga',
 '',
 '37',
 '36',
 '28.1',
 '6.9',
 '10.1',
 '.687',
 '6.8',
 '9.7',
 '.705',
 '0.1',
 '0.4',
 '.267',
 '2.9',
 '4.2',
 '.694',
 '3.1',
 '5.5',
 '8.6',
 '1.9',
 '1.2',
 '3.2',
 '1.5',
 '2.1',
 '16.9',
 '',
 '',
 'NIC CLAXTON',
 'Georgia',
 '',
 '65',
 '37',
 '23.0',
 '2.8',
 '6.1',
 '.457',
 '2.4',
 '4.8',
 '.500',
 '0.4',
 '1.3',
 '.302',
 '2.4',
 '4.0',
 '.611',
 '2.0',
 '4.2',
 '6.2',
 '1.0',
 '0.6',
 '1.9',
 '1.4',
 '2.3',
 '8.4',
 '',
 '8.50',
 'AMIR COFFEY',
 'Minnesota',
 '',
 '87',
 '87',
 '33.7',
 '4.8',
 '10.7',
 '.448',
 '3.7',
 '7.4',
 '.502',
 '1.1',
 '3.3',
 '.328',
 '3.8',
 '5.1',
 '.734',
 '0.7',
 '3.1',
 '3.8',
 '3.2',
 '0.9',
 '0.2',
 '2.1',
 '1.7',
 '14.4',
 '',
 '9.00',
 'TYLER COOK',
 'Iowa',
 '',
 '93',
 '92',
 '28.0',
 '5.3',
 '9.8',
 '.542',
 '5.3',
 '9.6',
 '.552',
 '0.0',
 '0.2',
 '.143',
 '3.5',
 '5.5',
 '.639',
 '2.1',
 '4.5',
 '6.7',
 '1.8',
 '0.7',
 '0.5',
 '2.6',
 '2.5',
 '14.1',
 '',
 '8.17',
 'JARRETT CULVER',
 'Texas Tech',
 '',
 '75',
 '58',
 '29.5',
 '5.3',
 '11.6',
 '.459',
 '3.9',
 '7.5',
 '.522',
 '1.4',
 '4.1',
 '.341',
 '2.9',
 '4.2',
 '.687',
 '1.2',
 '4.4',
 '5.6',
 '2.8',
 '1.3',
 '0.6',
 '2.1',
 '2.0',
 '14.9',
 '',
 '9.56',
 'AUBREY DAWKINS',
 'UCF',
 '',
 '33',
 '33',
 '33.4',
 '5.5',
 '11.8',
 '.463',
 '3.3',
 '6.4',
 '.514',
 '2.2',
 '5.5',
 '.403',
 '2.5',
 '2.9',
 '.835',
 '1.0',
 '4.0',
 '5.0',
 '1.4',
 '1.0',
 '0.3',
 '1.6',
 '2.2',
 '15.6',
 '',
 '',
 'LUGUENTZ DORT',
 'Arizona State',
 '',
 '34',
 '33',
 '31.5',
 '5.1',
 '12.6',
 '.405',
 '3.5',
 '7.5',
 '.472',
 '1.6',
 '5.2',
 '.307',
 '4.3',
 '6.1',
 '.700',
 '1.3',
 '3.0',
 '4.3',
 '2.3',
 '1.5',
 '0.2',
 '2.9',
 '3.0',
 '16.1',
 '',
 '6.04',
 'CARSEN EDWARDS',
 'Purdue',
 '',
 '108',
 '94',
 '29.4',
 '5.9',
 '14.2',
 '.412',
 '3.3',
 '7.2',
 '.455',
 '2.6',
 '7.1',
 '.368',
 '3.4',
 '4.2',
 '.817',
 '0.4',
 '3.0',
 '3.4',
 '2.5',
 '1.2',
 '0.2',
 '2.2',
 '1.9',
 '17.8',
 '',
 '9.84',
 'BRUNO FERNANDO',
 'Maryland',
 '',
 '64',
 '53',
 '26.4',
 '4.5',
 '7.6',
 '.595',
 '4.5',
 '7.4',
 '.603',
 '0.1',
 '0.2',
 '.308',
 '2.9',
 '3.8',
 '.763',
 '2.3',
 '6.5',
 '8.7',
 '1.4',
 '0.5',
 '1.6',
 '2.3',
 '2.8',
 '12.0',
 '',
 '9.02',
 'DANIEL GAFFORD',
 'Arkansas',
 '',
 '67',
 '58',
 '25.5',
 '5.6',
 '8.9',
 '.635',
 '5.6',
 '8.9',
 '.635',
 '0.0',
 '0.0',
 '',
 '3.0',
 '5.3',
 '.562',
 '2.5',
 '4.9',
 '7.4',
 '0.7',
 '0.7',
 '2.1',
 '1.7',
 '3.0',
 '14.3',
 '',
 '9.31',
 'DARIUS GARLAND',
 'Vanderbilt',
 '',
 '5',
 '5',
 '27.8',
 '5.8',
 '10.8',
 '.537',
 '3.6',
 '6.2',
 '.581',
 '2.2',
 '4.6',
 '.478',
 '2.4',
 '3.2',
 '.750',
 '0.4',
 '3.4',
 '3.8',
 '2.6',
 '0.8',
 '0.4',
 '3.0',
 '1.4',
 '16.2',
 '',
 '7.79',
 'KYLE GUY',
 'Virginia',
 '',
 '106',
 '78',
 '29.1',
 '4.4',
 '10.1',
 '.433',
 '2.0',
 '4.5',
 '.444',
 '2.4',
 '5.6',
 '.425',
 '1.3',
 '1.6',
 '.806',
 '0.4',
 '2.6',
 '3.0',
 '1.6',
 '0.7',
 '0.0',
 '1.1',
 '1.1',
 '12.5',
 '',
 '10.05',
 'RUI HACHIMURA',
 'Gonzaga',
 '',
 '102',
 '39',
 '19.7',
 '4.5',
 '7.8',
 '.579',
 '4.3',
 '7.1',
 '.607',
 '0.2',
 '0.7',
 '.316',
 '2.8',
 '3.7',
 '.746',
 '1.1',
 '3.3',
 '4.4',
 '0.8',
 '0.6',
 '0.5',
 '1.2',
 '1.6',
 '12.1',
 '',
 '3.91',
 'JAYLEN HANDS',
 'UCLA',
 '',
 '64',
 '48',
 '28.3',
 '4.1',
 '9.9',
 '.409',
 '2.4',
 '5.4',
 '.440',
 '1.7',
 '4.6',
 '.373',
 '2.3',
 '3.0',
 '.762',
 '0.5',
 '3.3',
 '3.8',
 '4.4',
 '1.2',
 '0.2',
 '2.5',
 '1.4',
 '12.1',
 '',
 '6.82',
 'JAXSON HAYES',
 'Texas',
 '',
 '32',
 '21',
 '23.3',
 '3.8',
 '5.3',
 '.728',
 '3.8',
 '5.3',
 '.728',
 '0.0',
 '0.0',
 '',
 '2.3',
 '3.1',
 '.740',
 '1.8',
 '3.3',
 '5.0',
 '0.3',
 '0.6',
 '2.2',
 '0.9',
 '3.3',
 '10.0',
 '',
 '11.46',
 'TYLER HERRO',
 'Kentucky',
 '',
 '37',
 '37',
 '32.6',
 '5.0',
 '10.9',
 '.462',
 '3.4',
 '6.3',
 '.538',
 '1.6',
 '4.6',
 '.355',
 '2.4',
 '2.5',
 '.935',
 '0.4',
 '4.1',
 '4.5',
 '2.5',
 '1.1',
 '0.3',
 '1.6',
 '1.3',
 '14.0',
 '',
 '10.29',
 'JAYLEN HOARD',
 'Wake Forest',
 '',
 '31',
 '30',
 '30.2',
 '4.9',
 '10.7',
 '.458',
 '4.5',
 '9.0',
 '.502',
 '0.4',
 '1.7',
 '.226',
 '2.9',
 '4.1',
 '.717',
 '2.6',
 '5.0',
 '7.6',
 '1.5',
 '0.6',
 '0.6',
 '2.5',
 '2.2',
 '13.1',
 '',
 '8.47',
 'TALEN HORTON-TUCKER',
 'Iowa State',
 '',
 '35',
 '34',
 '27.2',
 '4.4',
 '10.9',
 '.406',
 '3.0',
 '6.4',
 '.475',
 '1.4',
 '4.5',
 '.308',
 '1.6',
 '2.5',
 '.625',
 '0.7',
 '4.2',
 '4.9',
 '2.3',
 '1.3',
 '0.7',
 '1.7',
 '2.3',
 '11.8',
 '',
 '9.30',
 'DE’ANDRE HUNTER',
 'Virginia',
 '',
 '71',
 '38',
 '26.6',
 '4.4',
 '8.5',
 '.509',
 '3.4',
 '6.3',
 '.541',
 '0.9',
 '2.3',
 '.419',
 '2.8',
 '3.6',
 '.773',
 '1.3',
 '3.1',
 '4.4',
 '1.6',
 '0.6',
 '0.5',
 '1.2',
 '1.9',
 '12.4',
 '',
 '9.61',
 'TY JEROME',
 'Virginia',
 '',
 '105',
 '76',
 '26.4',
 '3.5',
 '8.0',
 '.435',
 '1.9',
 '3.9',
 '.479',
 '1.6',
 '4.0',
 '.392',
 '1.1',
 '1.4',
 '.788',
 '0.3',
 '2.8',
 '3.0',
 '3.7',
 '1.2',
 '0.0',
 '1.4',
 '1.9',
 '9.6',
 '',
 '10.05',
 'KELDON JOHNSON',
 'Kentucky',
 '',
 '37',
 '36',
 '30.7',
 '4.6',
 '10.1',
 '.461',
 '3.4',
 '6.9',
 '.498',
 '1.2',
 '3.2',
 '.381',
 '2.9',
 '4.2',
 '.703',
 '1.3',
 '4.5',
 '5.9',
 '1.6',
 '0.8',
 '0.2',
 '1.6',
 '2.2',
 '13.5',
 '',
 '10.29',
 'MFIONDU KABENGELE',
 'Florida State',
 '',
 '71',
 '0',
 '18.3',
 '3.5',
 '7.0',
 '.498',
 '3.0',
 '5.8',
 '.526',
 '0.5',
 '1.3',
 '.374',
 '2.8',
 '3.9',
 '.724',
 '2.0',
 '3.3',
 '5.3',
 '0.3',
 '0.5',
 '1.2',
 '1.2',
 '2.4',
 '10.3',
 '',
 '9.38',
 'LOUIS KING',
 'Oregon',
 '',
 '31',
 '28',
 '30.4',
 '4.8',
 '11.0',
 '.435',
 '2.9',
 '6.0',
 '.476',
 '1.9',
 '4.9',
 '.386',
 '2.0',
 '2.5',
 '.785',
 '1.3',
 '4.2',
 '5.5',
 '1.3',
 '0.9',
 '0.2',
 '2.1',
 '2.5',
 '13.5',
 '',
 '6.13',
 'V.J. KING',
 'Louisville',
 '',
 '101',
 '48',
 '17.8',
 '2.1',
 '5.2',
 '.400',
 '1.6',
 '3.7',
 '.440',
 '0.4',
 '1.5',
 ...]

In [24]:
import numpy as np
maindata = np.array(maindata)
refined2 = np.reshape(maindata, (-1, 29))

In [25]:
# Extraemos los nombres de columna de la tabla

tableheader = My_table.findAll('th')
colheaders = []
count = 0
for item in tableheader:
    if (count < 29):
        colheaders.append(item.get_text())
        count=count+1
colheaders.remove('Season')
colheaders = ['Name'] + colheaders
print(colheaders)

['Name', 'School', 'Conf', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '\xa0', 'SOS']

In [26]:
# Convertimos la información a un DF con los nombres de las columnas establecidos

import pandas as pd
draft19_class = pd.DataFrame(refined2, columns=colheaders)
draft19_class.head()

,Name,School,Conf,G,GS,MP,FG,FGA,FG%,2P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,,SOS
0,NICKEIL ALEXANDER-WALKER,Virginia Tech,,67,67,29.9,4.7,10.1,.464,3.0,...,3.4,4.0,2.7,1.4,0.5,2.2,1.9,13.5,,7.25
1,R.J. BARRETT,Duke,,38,38,35.3,8.4,18.5,.454,6.5,...,6.0,7.6,4.3,0.9,0.4,3.2,1.8,22.6,,11.97
2,TYUS BATTLE,Syracuse,,103,94,35.4,5.3,12.8,.417,3.6,...,2.3,2.8,2.1,1.3,0.2,1.8,2.0,16.0,,9.52
3,BOL BOL,Oregon,,9,9,29.8,8.2,14.7,.561,6.8,...,7.4,9.6,1.0,0.8,2.7,2.0,1.7,21.0,,6.13
4,MARQUES BOLDEN,Duke,,88,24,13.6,1.5,2.6,.573,1.5,...,1.9,3.3,0.4,0.3,1.1,0.6,1.6,3.8,,10.86

In [27]:
# Miramos la forma del DF

draft19_class.shape

(76, 29)

In [28]:
len(players)

94

In [29]:
# Vemos que jugadores de la lista no se ha podido conseguir la información por problemas con la URL
# Nota: los jugadores que faltan no se han podido encontrar en la web y otros no han sido incluídos por no tener estadisticas de 2019

a = list(draft19_class['Name'])
b = list(players)

faltan=[]

for player in b:
    if player not in a:
        faltan.append(player)
        
display(faltan)

['TROY BAXTER JR.',
 'DARIUS BAZLEY',
 'CHARLIE BROWN JR.',
 'JARED HARPER',
 'DEWAN HERNANDEZ',
 'AMIR HINTON',
 'DAULTON HOMMES',
 'SACHA KILLEYA-JONES',
 'JALEN LECQUE',
 'JACOB LEDOUX',
 'TREVOR MANUEL',
 'ZACH NORVELL JR.',
 'JONTAY PORTER',
 'KEVIN PORTER JR.',
 'BRANDON RANDOLPH',
 'AUSTIN ROBINSON',
 'JUSTIN SIMON',
 'JALEN SYKES']

### Obtención de la posición en el campo de los jugadores

In [30]:
# Por cada nombre de la tabla anterior extraemos la posición en la que juega el jugador

players = list(draft19_class['Name'])

pos = []
for name in players:
    realname = name
    name = name.replace("IGGY BRAZDEIKIS", "IGNAS-BRAZDEIKIS")
    name = name.replace("DEWAN HERNANDEZ", "DEWAN HUELL")
    name = name.replace("NIC CLAXTON", "NICOLAS-CLAXTON")
    name = name.replace("JA MORANT", "TEMETRIUS-MORANT")
    name = name.replace("KZ OKPALA", "KEZIE-OKPALA")
    name = name.replace("SIMI SHITTU", "SIMISOLA-SHITTU")
    name = name.replace("JA MORANT", "TEMETRIUSMORANT")
    name = name.lower()
    name = name.replace(" ", "-")
    name = name.replace(".", "")
    name = name.replace("\'", "")
    name = name.replace("’", "")
    name = name.replace("JR", "")
    website_url = requests.get('https://www.sports-reference.com/cbb/players/'+ name +'-1.html')
#    print('https://www.sports-reference.com/cbb/players/'+ name +'-1.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    soup.prettify()
    position = soup.find_all('p')
    if position is not None:
        pos.append(list(position[0])[2].replace(" ", "").replace("\n", ""))

In [31]:
# Creamos solo posiciones de Guard, Forward y Center

position=[]
for e in pos:
    POS = e.split('-')
    position.append(POS[0])
    
draft19_class['POS'] = position

In [32]:
draft19_class.head()

,Name,School,Conf,G,GS,MP,FG,FGA,FG%,2P,...,TRB,AST,STL,BLK,TOV,PF,PTS,,SOS,POS
0,NICKEIL ALEXANDER-WALKER,Virginia Tech,,67,67,29.9,4.7,10.1,.464,3.0,...,4.0,2.7,1.4,0.5,2.2,1.9,13.5,,7.25,Guard
1,R.J. BARRETT,Duke,,38,38,35.3,8.4,18.5,.454,6.5,...,7.6,4.3,0.9,0.4,3.2,1.8,22.6,,11.97,Forward
2,TYUS BATTLE,Syracuse,,103,94,35.4,5.3,12.8,.417,3.6,...,2.8,2.1,1.3,0.2,1.8,2.0,16.0,,9.52,Guard
3,BOL BOL,Oregon,,9,9,29.8,8.2,14.7,.561,6.8,...,9.6,1.0,0.8,2.7,2.0,1.7,21.0,,6.13,Center
4,MARQUES BOLDEN,Duke,,88,24,13.6,1.5,2.6,.573,1.5,...,3.3,0.4,0.3,1.1,0.6,1.6,3.8,,10.86,Center

### Limpieza de columnas no usables en el modelo

In [33]:
draft19_class.columns

Index(['Name', 'School', 'Conf', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P',
       '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', ' ', 'SOS', 'POS'],
      dtype='object')

In [34]:
remove_columns = ['School', 'Conf']

for i in remove_columns:
    draft19_class.drop([i], axis=1, inplace=True)

In [35]:
columns = ['Name', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'x', 'SOS', 'POS']

draft19_class.columns = columns

In [36]:
draft19_class.drop(['x'], axis=1, inplace=True)

### Exportación de la tabla como .csv

In [39]:
# Salvamos el archivo

draft19_class.to_csv('../input/draft19_class.csv', index=False)